In [1]:
#QE16 se a precisou precisou se mudar de cidade

In [2]:
import pandas as pd
import math

In [3]:
colunas = ['CO_CATEGAD','CO_GRUPO','CO_REGIAO_CURSO','CO_UF_CURSO','TP_SEXO','TP_PRES','NT_GER','NT_FG','NT_OBJ_FG','NT_DIS_FG','NT_CE','NT_OBJ_CE','NT_DIS_CE','QE_I02','QE_I13','QE_I14','QE_I05','QE_I12','QE_I17','NU_IDADE','CO_CURSO','CO_MODALIDADE','ANO_FIM_2G','ANO_IN_GRAD','IN_MATUT','IN_VESPER','IN_NOTURNO','CO_IES','CO_ORGACAD','QE_I07','CO_RS_I9','QE_I19','QE_I20', 'QE_I01','QE_I03','QE_I04','QE_I07','QE_I18','QE_I23','QE_I26','QE_I34','QE_I54']

#qe4 virou 13
#qe8 virou 5
#nao tem sobre bolsa
#qe15 virou 12

In [4]:
microdados = pd.read_csv('MICRODADOS_ENADE_2011_2.csv',usecols=colunas,sep=';',decimal=',')

/home/luiscapelari/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
microdados

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,...,QE_I13,QE_I14,QE_I17,QE_I18,QE_I19,QE_I20,QE_I23,QE_I26,QE_I34,QE_I54
0,1,10002,10028,5710,3,1,51,5,22,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10002,10028,5710,3,1,51,5,35,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10002,10028,5710,3,1,51,5,22,M,...,F,D,B,A,B,B,C,D,C,E
3,1,10002,10028,5710,3,1,51,5,21,F,...,E,F,B,A,B,A,B,D,E,B
4,1,10002,10028,5710,3,1,51,5,23,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376175,36,10001,10022,72,5000884,1,35,3,21,M,...,E,D,A,A,B,B,B,B,C,B
376176,36,10001,10022,72,5000884,1,35,3,21,M,...,B,B,B,A,C,B,B,B,C,B
376177,36,10001,10022,72,5000884,1,35,3,20,M,...,D,E,B,A,C,A,B,C,B,B
376178,36,10001,10022,72,5000884,1,35,3,27,M,...,D,C,A,A,A,B,C,D,C,B
376179,36,10001,10022,72,5000884,1,35,3,25,M,...,E,E,D,B,D,B,B,B,D,D

In [6]:
microdados.dtypes

CO_IES               int64
CO_CATEGAD           int64
CO_ORGACAD           int64
CO_GRUPO             int64
CO_CURSO             int64
CO_MODALIDADE        int64
CO_UF_CURSO          int64
CO_REGIAO_CURSO      int64
NU_IDADE             int64
TP_SEXO             object
ANO_FIM_2G           int64
ANO_IN_GRAD        float64
IN_MATUT             int64
IN_VESPER            int64
IN_NOTURNO           int64
TP_PRES              int64
NT_GER              object
NT_FG               object
NT_OBJ_FG           object
NT_DIS_FG           object
NT_CE               object
NT_OBJ_CE           object
NT_DIS_CE           object
CO_RS_I9            object
QE_I01              object
QE_I02              object
QE_I03              object
QE_I04              object
QE_I05              object
QE_I07              object
QE_I12              object
QE_I13              object
QE_I14              object
QE_I17              object
QE_I18              object
QE_I19              object
QE_I20              object
QE_I23              object
QE_I26              object
QE_I34              object
QE_I54              object
dtype: object

In [7]:
microdados.isna().any()

CO_IES             False
CO_CATEGAD         False
CO_ORGACAD         False
CO_GRUPO           False
CO_CURSO           False
CO_MODALIDADE      False
CO_UF_CURSO        False
CO_REGIAO_CURSO    False
NU_IDADE           False
TP_SEXO            False
ANO_FIM_2G         False
ANO_IN_GRAD         True
IN_MATUT           False
IN_VESPER          False
IN_NOTURNO         False
TP_PRES            False
NT_GER              True
NT_FG               True
NT_OBJ_FG           True
NT_DIS_FG           True
NT_CE               True
NT_OBJ_CE           True
NT_DIS_CE           True
CO_RS_I9            True
QE_I01              True
QE_I02              True
QE_I03              True
QE_I04              True
QE_I05              True
QE_I07              True
QE_I12              True
QE_I13              True
QE_I14              True
QE_I17              True
QE_I18              True
QE_I19              True
QE_I20              True
QE_I23              True
QE_I26              True
QE_I34              True
QE_I54              True
dtype: bool

In [8]:
microdados2 = microdados.query('CO_GRUPO == 4004 | CO_GRUPO == 4007 | CO_GRUPO == 4005 | CO_GRUPO == 4006 | CO_GRUPO == 5809 | CO_GRUPO == 72 | CO_GRUPO == 79')

In [9]:
microdados2 = microdados2.loc[microdados2.NT_GER.notnull()]
microdados2 = microdados2.loc[microdados2.ANO_IN_GRAD.notnull()]
microdados2 = microdados2.loc[microdados2.QE_I02.notnull()]

In [10]:
microdados2 = microdados2.astype({'NT_GER':float}) 
microdados2 = microdados2.astype({'TP_SEXO':str}) 
microdados2 = microdados2.astype({'ANO_IN_GRAD':int}) 
microdados2 = microdados2.astype({'QE_I01':str})
microdados2 = microdados2.astype({'QE_I02':str}) 
microdados2 = microdados2.astype({'QE_I03':str})
microdados2 = microdados2.astype({'QE_I04':str})
microdados2 = microdados2.astype({'QE_I05':str}) 
microdados2 = microdados2.astype({'QE_I07':str})
microdados2 = microdados2.astype({'QE_I12':str}) 
microdados2 = microdados2.astype({'QE_I13':str}) 
microdados2 = microdados2.astype({'QE_I14':str}) 
microdados2 = microdados2.astype({'QE_I17':str}) 
microdados2 = microdados2.astype({'QE_I18':str}) 
microdados2 = microdados2.astype({'QE_I23':str})
microdados2 = microdados2.astype({'QE_I26':str})
microdados2 = microdados2.astype({'QE_I34':str})
microdados2 = microdados2.astype({'QE_I54':str})

In [11]:
microdados2 = microdados2.query('TP_PRES == 555')

In [12]:
estado_dict = {
11 : 'RO',12 : 'AC', 
13 : 'AM',14 : 'RR',
15 : 'PA',16 : 'AP',
17 : 'TO',21 : 'MA',
22 : 'PI',23 : 'CE',
24 : 'RN',25 : 'PB',
26 : 'PE',27 : 'AL',
28 : 'SE',29 : 'BA',
31 : 'MG',32 : 'ES',
33 : 'RJ',35 : 'SP',
41 : 'PR',42 : 'SC',
43 : 'RS',50 : 'MS',
51 : 'MT',52 : 'GO', 
53 : 'DF'
}

microdados2['CO_UF_CURSO'].replace(estado_dict,inplace=True)
microdados2 = microdados2.astype({'CO_UF_CURSO':str})

In [13]:
microdados2['CO_CATEGAD'].replace({10001:'IES pública',10002:'IES pública',10003:'IES pública'},inplace=True) #publica
microdados2['CO_CATEGAD'].replace({10004:'IES privada',10005:'IES privada',10006:'IES privada',10007:'IES privada',10008:'IES privada',10009:'IES privada'},inplace=True) #privada
microdados2 = microdados2.astype({'CO_CATEGAD':str})

In [14]:
microdados2.loc[(microdados2['IN_MATUT'] + microdados2['IN_VESPER'] + microdados2['IN_NOTURNO']) > 1, 'periodo'] = 'I'
microdados2.loc[(microdados2['IN_MATUT'] + microdados2['IN_VESPER'] + microdados2['IN_NOTURNO']) == 1, 'periodo'] = None

In [15]:
microdados2['IN_MATUT'].replace({0:None,1:'M'},inplace=True)
microdados2['IN_VESPER'].replace({0:None,1:'V'},inplace=True)
microdados2['IN_NOTURNO'].replace({0:None,1:'N'},inplace=True)

In [16]:
microdados2['periodo'].fillna(microdados2['IN_VESPER'], inplace=True)
microdados2['periodo'].fillna(microdados2['IN_MATUT'], inplace=True)
microdados2['periodo'].fillna(microdados2['IN_NOTURNO'], inplace=True)

In [17]:
microdados2['CO_ORGACAD'].replace({10028:'Universidade',10020:'Centro Universitário',10022:'Faculdade',10026:'I.F.E', 10019:'C.F.E.T'},inplace=True)

In [18]:
microdados2['QE_I07'].replace({'A':'Não','B':'Sim','C':'Sim','D':'Sim','E':'Sim'},inplace=True)

# Adição de novos valores: 

- QE_I01:
    - Estado cívil
- QE_I03:
    - Onde o aluno mora atualmente
- QE_I04:
    - Quantas pessoas moram com o aluno
- QE_I18:
    - Tipo de ensino médio que o aluno concluiu
- QE_I23: 
    - Salas de aula adequadas para a quantidade de alunos
- QE_I26: 
    - Equipamento para as aulas praticas suficentes
- QE_I34: 
    - Plano de ensino dos professores
- QE_I54: 
    - Avaliação da contribuição do curso

In [19]:
microdados2['QE_I01'].replace({'A':'Solteiro','B':'Casado','C':'Divorciado','D':'Viúvo','E':'Outro', '*': 'Outro'},inplace=True)
microdados2['QE_I03'].replace({'A':'Sozinho','B':'Parentes','C':'Cônjuge/filhos','D':'Outras pessoas','E':'Universidade', 'F': 'Habitação individual/coletiva'},inplace=True)
microdados2['QE_I04'].replace({'A':'Nenhuma','B':'Uma','C':'Duas','D':'Três','E':'Quatro', 'F': 'Cinco', 'G': 'Seis', 'H': 'Mais de seis'},inplace=True)
microdados2['QE_I18'].replace({'A':'EM tradicional','B':'Profissionalizante técnico','C':'Profissionalizante magistério','D':'EJA/Supletivo', 'E': 'Outro'} ,inplace=True)
microdados2['QE_I23'].replace({'A':'Todas','B':'Maior parte','C':'Algumas','D':'Nenhuma'} ,inplace=True)
microdados2['QE_I26'].replace({'A':'Todas','B':'Maior parte','C':'Algumas','D':'Nenhuma'} ,inplace=True)
microdados2['QE_I34'].replace({'A':'Todos aspectos','B':'Maior parte','C':'Somente alguns', 'D': 'Nenhum', 'E': 'Nenhum'} ,inplace=True)
microdados2['QE_I54'].replace({'A':'Muito boa','B':'Boa','C':'Regular', 'D': 'Fraca', 'E': 'Muito fraca'} ,inplace=True)

In [20]:
microdados2.isna().any()

CO_IES             False
CO_CATEGAD         False
CO_ORGACAD         False
CO_GRUPO           False
CO_CURSO           False
CO_MODALIDADE      False
CO_UF_CURSO        False
CO_REGIAO_CURSO    False
NU_IDADE           False
TP_SEXO            False
ANO_FIM_2G         False
ANO_IN_GRAD        False
IN_MATUT            True
IN_VESPER           True
IN_NOTURNO          True
TP_PRES            False
NT_GER             False
NT_FG              False
NT_OBJ_FG          False
NT_DIS_FG          False
NT_CE              False
NT_OBJ_CE          False
NT_DIS_CE          False
CO_RS_I9           False
QE_I01             False
QE_I02             False
QE_I03             False
QE_I04             False
QE_I05             False
QE_I07             False
QE_I12             False
QE_I13             False
QE_I14             False
QE_I17             False
QE_I18             False
QE_I19              True
QE_I20              True
QE_I23             False
QE_I26             False
QE_I34             False
QE_I54             False
periodo            False
dtype: bool

In [21]:
microdados2

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,...,QE_I14,QE_I17,QE_I18,QE_I19,QE_I20,QE_I23,QE_I26,QE_I34,QE_I54,periodo
943,1,IES pública,Universidade,4004,36,1,MT,5,20,M,...,D,B,EM tradicional,B,B,Maior parte,Algumas,Todos aspectos,Boa,I
944,1,IES pública,Universidade,4004,36,1,MT,5,21,M,...,E,B,EM tradicional,B,C,Nenhuma,Nenhuma,Somente alguns,Regular,I
945,1,IES pública,Universidade,4004,36,1,MT,5,22,M,...,E,B,EM tradicional,C,B,Maior parte,Maior parte,Maior parte,Boa,I
946,1,IES pública,Universidade,4004,36,1,MT,5,24,M,...,F,B,EM tradicional,B,B,Todas,Maior parte,Todos aspectos,Boa,I
947,1,IES pública,Universidade,4004,36,1,MT,5,24,M,...,F,B,EM tradicional,A,E,Algumas,Nenhuma,Maior parte,Boa,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376175,36,IES pública,Faculdade,72,5000884,1,SP,3,21,M,...,D,A,EM tradicional,B,B,Maior parte,Maior parte,Somente alguns,Boa,N
376176,36,IES pública,Faculdade,72,5000884,1,SP,3,21,M,...,B,B,EM tradicional,C,B,Maior parte,Maior parte,Somente alguns,Boa,N
376177,36,IES pública,Faculdade,72,5000884,1,SP,3,20,M,...,E,B,EM tradicional,C,A,Maior parte,Algumas,Maior parte,Boa,M
376178,36,IES pública,Faculdade,72,5000884,1,SP,3,27,M,...,C,A,EM tradicional,A,B,Algumas,Nenhuma,Somente alguns,Boa,N
376179,36,IES pública,Faculdade,72,5000884,1,SP,3,25,M,...,E,D,Profissionalizante técnico,D,B,Maior parte,Maior parte,Nenhum,Fraca,N

In [22]:
microdados2.drop(columns=['IN_MATUT','IN_VESPER','IN_NOTURNO','TP_PRES'],inplace=True)

In [23]:
microdados2['QE_I05'].replace({'C':'B'},inplace=True) #ate 3 salarios
microdados2['QE_I05'].replace({'D':'C','E':'C','F':'C'},inplace=True) #3 a 10 salarios 
microdados2['QE_I05'].replace({'G':'D'},inplace=True) #10 a 30 salarios 
microdados2['QE_I05'].replace({'H':'E'},inplace=True) #mais de 30 salarios

In [24]:
microdados2['QE_I17'].replace({'C':'A'},inplace=True) #todo tempo ou maior parte pub
microdados2['QE_I17'].replace({'D':'B'},inplace=True) #todo tempo ou maior parte privada
microdados2['QE_I17'].replace({'E':'C'},inplace=True) #meio a meio

In [25]:
microdados2['QE_I19'].replace({'A':'0','B':'1/2','C':'3-5','D':'6-8','E':'8+'},inplace=True)

In [26]:
microdados2['QE_I20'].replace({'A':'0','B':'<3','C':'3-8','D':'8+','E':'8+'},inplace=True)

In [27]:
coluna_map = {
    'CO_CATEGAD':'categoria_adm',
    'CO_GRUPO':'grupo',
    'CO_CURSO':'curso',
    'CO_MODALIDADE':'ead_presencial',
    'CO_REGIAO_CURSO':'regiao',
    'CO_UF_CURSO':'uf',
    'NU_IDADE':'idade',
    'TP_SEXO':'sexo',
    'ANO_FIM_2G':'formatura_medio',
    'ANO_IN_GRAD':'inicio_graduacao',
    'NT_GER':'nota_geral',
    'NT_FG':'nota_formacao_geral',
    'NT_OBJ_FG':'nota_obj_formacao_geral',
    'NT_DIS_FG':'nota_disc_formacao_geral',
    'NT_CE':'nota_componente_especifico',
    'NT_OBJ_CE':'nota_obj_componente_especifico',
    'NT_DIS_CE':'nota_disc_componente_especifico',
    'QE_I01':'estado_civil',
    'QE_I02':'cor_raca',
    'QE_I03':'moradia',
    'QE_I04':'pessoas_moradia',
    'QE_I05':'renda_familiar',
    'QE_I07':'trabalha',
    'QE_I12':'cotas',
    'QE_I13':'escolaridade_pai',
    'QE_I14':'escolaridade_mae',
    'QE_I17':'tipo_ensino_medio',
    'QE_I18':'ensino_medio',
    'QE_I19':'livros_ano',
    'QE_I20':'horas_estudo',
    'QE_I23': 'condicoes_salas_estudantes',
    'QE_I26': 'condicoes_praticas_materiais',
    'QE_I34': 'plano_ensino',
    'QE_I54': 'avaliacao_curso',
    'periodo':'turno',
    'CO_IES':'codigo_IES',
    'CO_ORGACAD':'organizacao_academica'
}

In [28]:
microdados2.rename(columns=coluna_map,inplace=True)

In [29]:
microdados2['grupo'].replace({72: 'ADS', 79:'RC',5809: 'EC', 4004:'BCC',4005:'LCC',4006: 'SI',4007: 'EC'},inplace=True)
microdados2 = microdados2.astype({'grupo':str})

In [30]:
microdados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33220 entries, 943 to 376179
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   codigo_IES                       33220 non-null  int64
 1   categoria_adm                    33220 non-null  object
 2   organizacao_academica            33220 non-null  object
 3   grupo                            33220 non-null  object
 4   curso                            33220 non-null  int64
 5   ead_presencial                   33220 non-null  int64
 6   uf                               33220 non-null  object
 7   regiao                           33220 non-null  int64
 8   idade                            33220 non-null  int64
 9   sexo                             33220 non-null  object
 10  formatura_medio                  33220 non-null  int64
 11  inicio_graduacao                 33220 non-null  int64
 12  nota_geral                       33220 non-null  float64
 13  nota_formacao_geral              33220 non-null  object
 14  nota_obj_formacao_geral          33220 non-null  object
 15  nota_disc_formacao_geral         33220 non-null  object
 16  nota_componente_especifico       33220 non-null  object
 17  nota_obj_componente_especifico   33220 non-null  object
 18  nota_disc_componente_especifico  33220 non-null  object
 19  CO_RS_I9                         33220 non-null  object
 20  estado_civil                     33220 non-null  object
 21  cor_raca                         33220 non-null  object
 22  moradia                          33220 non-null  object
 23  pessoas_moradia                  33220 non-null  object
 24  renda_familiar                   33220 non-null  object
 25  trabalha                         33220 non-null  object
 26  cotas                            33220 non-null  object
 27  escolaridade_pai                 33220 non-null  object
 28  escolaridade_mae                 33220 non-null  object
 29  tipo_ensino_medio                33220 non-null  object
 30  ensino_medio                     33220 non-null  object
 31  livros_ano                       33109 non-null  object
 32  horas_estudo                     33100 non-null  object
 33  condicoes_salas_estudantes       33220 non-null  object
 34  condicoes_praticas_materiais     33220 non-null  object
 35  plano_ensino                     33220 non-null  object
 36  avaliacao_curso                  33220 non-null  object
 37  turno                            33220 non-null  object
dtypes: float64(1), int64(7), object(30)
memory usage: 9.9+ MB

In [31]:
microdados2['cor_raca'].replace({'A':'Branca','B':'Preta','C':'Parda','D':'Amarela','E':'Indígena'},inplace=True)

In [32]:
microdados2['recebeu_cota'] = microdados2['cotas'].replace({'A':'Não','B':'Sim','C':'Sim','D':'Sim','E':'Sim','F':'Sim'})

In [33]:
microdados2['cotas'].replace({'A':'Não','B':'Étnico Racial','C':'Renda','D':'EM público','E':'2+','F':'Outro'},inplace=True)

In [34]:
microdados2['renda_familiar'].replace({'A':'<3','B':'<3','C':'3-10','D':'10-30','E':'30+'},inplace=True)

In [35]:
microdados2['escolaridade_pai'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação','F':'Pós-graduação'},inplace=True)
microdados2['escolaridade_mae'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação','F':'Pós-graduação'},inplace=True)

In [36]:
bins = [17, 25, 30, 40, 50, 100]
labels = ['17-24', '25-29', '30-39', '40-49', '50+']
microdados2['range_idade'] = pd.cut(microdados2['idade'], bins, labels = labels,include_lowest = True)

In [37]:
microdados2['ead_presencial'].replace({0:'EAD',1:'Presencial'},inplace=True)
microdados2 = microdados2.astype({'ead_presencial':str})

In [38]:
microdados2['regiao'].replace({1:'N',2:'NE',3:'SE',4:'S',5:'CO'},inplace=True)
microdados2 = microdados2.astype({'regiao':str})

In [39]:
microdados2.rename(columns={'grupo':'nome_curso'},inplace=True)

In [40]:
microdados2 = microdados2.sort_values('tipo_ensino_medio').reset_index(drop=True)
qnt = microdados2.loc[microdados2['tipo_ensino_medio'] == 'C'].tipo_ensino_medio.count()
c = microdados2[microdados2.tipo_ensino_medio=='C'].first_valid_index()
microdados2.loc[c:c+math.ceil(qnt/2)-1,'tipo_ensino_medio'] = 'A'  #metade vira publica
microdados2.loc[c+math.ceil(qnt/2):c+qnt-1,'tipo_ensino_medio'] ='B' #metade vira publica

In [41]:
microdados2.drop(columns=['CO_RS_I9'],inplace=True)

In [42]:
microdados2['tipo_ensino_medio'].replace({'A':'Pública','B':'Particular','C':'Pública/Particular'},inplace=True)

In [43]:
microdados2

,codigo_IES,categoria_adm,organizacao_academica,nome_curso,curso,ead_presencial,uf,regiao,idade,sexo,...,ensino_medio,livros_ano,horas_estudo,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,turno,recebeu_cota,range_idade
0,1313,IES privada,Faculdade,SI,47630,Presencial,SP,SE,27,M,...,EM tradicional,1/2,0,Maior parte,Algumas,Todos aspectos,Boa,N,Não,25-29
1,1295,IES privada,Faculdade,RC,55569,Presencial,SP,SE,20,M,...,EM tradicional,1/2,<3,Maior parte,Algumas,Todos aspectos,Boa,N,Sim,17-24
2,1295,IES privada,Faculdade,RC,55569,Presencial,SP,SE,21,F,...,EM tradicional,8+,<3,Todas,nan,Todos aspectos,Muito boa,N,Não,17-24
3,5016,IES pública,Faculdade,ADS,96819,Presencial,RJ,SE,23,M,...,EM tradicional,0,<3,Todas,Todas,Todos aspectos,Muito boa,M,Sim,17-24
4,1295,IES privada,Faculdade,RC,55569,Presencial,SP,SE,24,M,...,EM tradicional,0,0,Maior parte,Algumas,Nenhum,Regular,N,Não,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33215,3149,IES privada,Faculdade,SI,20512,Presencial,MG,SE,24,M,...,EM tradicional,0,0,Algumas,Algumas,Somente alguns,Regular,N,Não,17-24
33216,1944,IES privada,Faculdade,ADS,51715,Presencial,PE,NE,23,M,...,EM tradicional,3-5,3-8,Todas,Todas,Todos aspectos,Boa,M,Não,17-24
33217,344,IES privada,Centro Universitário,EC,97751,Presencial,MG,SE,32,M,...,EM tradicional,NaN,3-8,Todas,Todas,Todos aspectos,Muito boa,N,Sim,30-39
33218,3184,IES pública,I.F.E,ADS,91909,Presencial,RR,N,37,M,...,EM tradicional,1/2,8+,Todas,Todas,Todos aspectos,Muito boa,N,Não,30-39
33219,56,IES pública,Universidade,BCC,3197,Presencial,SP,SE,21,M,...,Profissionalizante técnico,1/2,3-8,Maior parte,Maior parte,Maior parte,Boa,I,Não,17-24

In [44]:
microdados2.isna().any()

codigo_IES                         False
categoria_adm                      False
organizacao_academica              False
nome_curso                         False
curso                              False
ead_presencial                     False
uf                                 False
regiao                             False
idade                              False
sexo                               False
formatura_medio                    False
inicio_graduacao                   False
nota_geral                         False
nota_formacao_geral                False
nota_obj_formacao_geral            False
nota_disc_formacao_geral           False
nota_componente_especifico         False
nota_obj_componente_especifico     False
nota_disc_componente_especifico    False
estado_civil                       False
cor_raca                           False
moradia                            False
pessoas_moradia                    False
renda_familiar                     False
trabalha                           False
cotas                              False
escolaridade_pai                   False
escolaridade_mae                   False
tipo_ensino_medio                  False
ensino_medio                       False
livros_ano                          True
horas_estudo                        True
condicoes_salas_estudantes         False
condicoes_praticas_materiais       False
plano_ensino                       False
avaliacao_curso                    False
turno                              False
recebeu_cota                       False
range_idade                        False
dtype: bool

In [45]:
microdados2[microdados2.range_idade.isnull()]

Empty DataFrame
Columns: [codigo_IES, categoria_adm, organizacao_academica, nome_curso, curso, ead_presencial, uf, regiao, idade, sexo, formatura_medio, inicio_graduacao, nota_geral, nota_formacao_geral, nota_obj_formacao_geral, nota_disc_formacao_geral, nota_componente_especifico, nota_obj_componente_especifico, nota_disc_componente_especifico, estado_civil, cor_raca, moradia, pessoas_moradia, renda_familiar, trabalha, cotas, escolaridade_pai, escolaridade_mae, tipo_ensino_medio, ensino_medio, livros_ano, horas_estudo, condicoes_salas_estudantes, condicoes_praticas_materiais, plano_ensino, avaliacao_curso, turno, recebeu_cota, range_idade]
Index: []

[0 rows x 39 columns]

In [46]:
microdados2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33220 entries, 0 to 33219
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   codigo_IES                       33220 non-null  int64
 1   categoria_adm                    33220 non-null  object
 2   organizacao_academica            33220 non-null  object
 3   nome_curso                       33220 non-null  object
 4   curso                            33220 non-null  int64
 5   ead_presencial                   33220 non-null  object
 6   uf                               33220 non-null  object
 7   regiao                           33220 non-null  object
 8   idade                            33220 non-null  int64
 9   sexo                             33220 non-null  object
 10  formatura_medio                  33220 non-null  int64
 11  inicio_graduacao                 33220 non-null  int64
 12  nota_geral                       33220 non-null  float64
 13  nota_formacao_geral              33220 non-null  object
 14  nota_obj_formacao_geral          33220 non-null  object
 15  nota_disc_formacao_geral         33220 non-null  object
 16  nota_componente_especifico       33220 non-null  object
 17  nota_obj_componente_especifico   33220 non-null  object
 18  nota_disc_componente_especifico  33220 non-null  object
 19  estado_civil                     33220 non-null  object
 20  cor_raca                         33220 non-null  object
 21  moradia                          33220 non-null  object
 22  pessoas_moradia                  33220 non-null  object
 23  renda_familiar                   33220 non-null  object
 24  trabalha                         33220 non-null  object
 25  cotas                            33220 non-null  object
 26  escolaridade_pai                 33220 non-null  object
 27  escolaridade_mae                 33220 non-null  object
 28  tipo_ensino_medio                33220 non-null  object
 29  ensino_medio                     33220 non-null  object
 30  livros_ano                       33109 non-null  object
 31  horas_estudo                     33100 non-null  object
 32  condicoes_salas_estudantes       33220 non-null  object
 33  condicoes_praticas_materiais     33220 non-null  object
 34  plano_ensino                     33220 non-null  object
 35  avaliacao_curso                  33220 non-null  object
 36  turno                            33220 non-null  object
 37  recebeu_cota                     33220 non-null  object
 38  range_idade                      33220 non-null  category
dtypes: category(1), float64(1), int64(5), object(32)
memory usage: 9.7+ MB

In [47]:
microdados2.to_csv('./{}.csv'.format('computacao_enade_2011'),index=False)