In [1]:
import pandas as pd

In [2]:
colunas = ['CO_CATEGAD','CO_GRUPO','CO_REGIAO_CURSO','CO_UF_CURSO','TP_SEXO','TP_PRES','NT_GER','NT_FG','NT_OBJ_FG','NT_DIS_FG','NT_CE','NT_OBJ_CE','NT_DIS_CE','QE_I02','QE_I04','QE_I05','QE_I08','QE_I15','QE_I17','NU_IDADE','CO_CURSO','ANO_FIM_EM','ANO_IN_GRAD','CO_TURNO_GRADUACAO','CO_IES','CO_ORGACAD','QE_I10','CO_RS_I9','QE_I22','QE_I23', 'QE_I01','QE_I06','QE_I07','QE_I18','QE_I38','QE_I61','QE_I62','QE_I27'] #selecionando apenas as colunas necessarias

microdados = pd.read_csv('MICRODADOS_ENADE_2017 (c√≥pia).csv',sep=';',usecols=colunas,decimal=',') #carregando arquivo, apenas com as colunas desejadas, usando como separador ';'

In [3]:
microdados

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,ANO_FIM_EM,...,QE_I10,QE_I15,QE_I17,QE_I18,QE_I22,QE_I23,QE_I27,QE_I38,QE_I61,QE_I62
0,1,1,10028,5710,3,51,5,26,F,2007.0,...,B,A,B,A,B,D,5.0,2.0,3.0,2.0
1,1,1,10028,5710,3,51,5,23,F,2013.0,...,E,B,A,B,B,C,4.0,5.0,6.0,4.0
2,1,1,10028,5710,3,51,5,23,M,2011.0,...,A,A,B,A,A,B,5.0,1.0,2.0,2.0
3,1,1,10028,5710,3,51,5,23,M,2011.0,...,A,E,A,A,B,C,5.0,4.0,4.0,5.0
4,1,1,10028,5710,3,51,5,24,M,2010.0,...,C,A,B,A,C,B,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,19578,2,10022,6208,5001279,35,3,26,M,2013.0,...,E,D,A,A,B,B,5.0,4.0,3.0,3.0
537432,19578,2,10022,6208,5001279,35,3,41,M,2013.0,...,A,A,A,A,B,D,5.0,3.0,4.0,4.0
537433,19578,2,10022,6208,5001279,35,3,22,M,2013.0,...,E,A,A,A,B,B,5.0,4.0,4.0,8.0
537434,19578,2,10022,6208,5001279,35,3,35,F,2013.0,...,E,E,A,B,B,C,6.0,6.0,5.0,4.0
537435,19578,2,10022,6208,5001279,35,3,32,F,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
microdados2 = microdados.query('CO_GRUPO == 72 | CO_GRUPO == 79 | CO_GRUPO == 4003 | CO_GRUPO == 4004 | CO_GRUPO == 4005 | CO_GRUPO == 4006 | CO_GRUPO == 6409') #filtrando alunos de cursos da area de TI

In [5]:
microdados2 = microdados2.loc[microdados2.TP_PRES.notnull()]
microdados2 = microdados2.astype({'TP_PRES':int}) #convertendo tipo dos dados

In [6]:
microdados2 = microdados2.query('TP_PRES == 555') #selecionando apenas alunos presentes no ENADE com nota valida

In [7]:
microdados2 = microdados2.loc[microdados2.QE_I15.notnull()] #removendo alunos que deixaram questionario em branco
microdados2 = microdados2.loc[microdados2.NT_GER.notnull()] #removendo alunos com notas em branco

In [8]:
#Transforma√ßao
microdados2['CO_CATEGAD'].replace({1:'IES p√∫blica',2:'IES p√∫blica',3:'IES p√∫blica'},inplace=True) #publica 
microdados2['CO_CATEGAD'].replace({4:'IES privada',5:'IES privada',7:'IES privada'},inplace=True) #privada
microdados2 = microdados2.astype({'CO_CATEGAD':str})

In [9]:
#agrupando faixas de renda
microdados2['QE_I08'].replace({'B':'A'},inplace=True) #ate 3 salarios
microdados2['QE_I08'].replace({'C':'B','D':'B','E':'B'},inplace=True) #3 a 10 salarios 
microdados2['QE_I08'].replace({'F':'C'},inplace=True) #10 a 30 salarios 
microdados2['QE_I08'].replace({'G':'D'},inplace=True) #mais de 30 salarios

In [10]:
#separando por tipo de ensino medio
microdados2['QE_I17'].replace({'D':'A'},inplace=True) #todo tempo ou maior parte pub
microdados2['QE_I17'].replace({'E':'B'},inplace=True) #todo tempo ou maior parte privada
microdados2['QE_I17'].replace({'F':'C'},inplace=True) #todo tempo ou maior parte exterior

In [11]:
estado_dict = {
11 : 'RO',12 : 'AC', 
13 : 'AM',14 : 'RR',
15 : 'PA',16 : 'AP',
17 : 'TO',21 : 'MA',
22 : 'PI',23 : 'CE',
24 : 'RN',25 : 'PB',
26 : 'PE',27 : 'AL',
28 : 'SE',29 : 'BA',
31 : 'MG',32 : 'ES',
33 : 'RJ',35 : 'SP',
41 : 'PR',42 : 'SC',
43 : 'RS',50 : 'MS',
51 : 'MT',52 : 'GO', 
53 : 'DF'
}

microdados2['CO_UF_CURSO'].replace(estado_dict,inplace=True)
microdados2 = microdados2.astype({'CO_UF_CURSO':str})

In [12]:
microdados2.dtypes

CO_IES                  int64
CO_CATEGAD             object
CO_ORGACAD              int64
CO_GRUPO                int64
CO_CURSO                int64
CO_UF_CURSO            object
CO_REGIAO_CURSO         int64
NU_IDADE                int64
TP_SEXO                object
ANO_FIM_EM            float64
ANO_IN_GRAD           float64
CO_TURNO_GRADUACAO    float64
TP_PRES                 int64
NT_GER                float64
NT_FG                 float64
NT_OBJ_FG             float64
NT_DIS_FG             float64
NT_CE                 float64
NT_OBJ_CE             float64
NT_DIS_CE             float64
CO_RS_I9               object
QE_I01                 object
QE_I02                 object
QE_I04                 object
QE_I05                 object
QE_I06                 object
QE_I07                 object
QE_I08                 object
QE_I10                 object
QE_I15                 object
QE_I17                 object
QE_I18                 object
QE_I22                 object
QE_I23                 object
QE_I27                float64
QE_I38                float64
QE_I61                float64
QE_I62                float64
dtype: object

In [13]:
microdados2.isna().any()

CO_IES                False
CO_CATEGAD            False
CO_ORGACAD            False
CO_GRUPO              False
CO_CURSO              False
CO_UF_CURSO           False
CO_REGIAO_CURSO       False
NU_IDADE              False
TP_SEXO               False
ANO_FIM_EM            False
ANO_IN_GRAD           False
CO_TURNO_GRADUACAO     True
TP_PRES               False
NT_GER                False
NT_FG                 False
NT_OBJ_FG             False
NT_DIS_FG             False
NT_CE                 False
NT_OBJ_CE             False
NT_DIS_CE             False
CO_RS_I9              False
QE_I01                False
QE_I02                False
QE_I04                False
QE_I05                False
QE_I06                False
QE_I07                False
QE_I08                False
QE_I10                False
QE_I15                False
QE_I17                False
QE_I18                False
QE_I22                False
QE_I23                False
QE_I27                False
QE_I38                False
QE_I61                False
QE_I62                False
dtype: bool

In [14]:
microdados2 = microdados2.loc[microdados2.CO_TURNO_GRADUACAO.notnull()]

In [15]:
microdados2 = microdados2.astype({'TP_SEXO':str})
microdados2 = microdados2.astype({'ANO_FIM_EM':int})
microdados2 = microdados2.astype({'ANO_IN_GRAD':int})
microdados2 = microdados2.astype({'CO_TURNO_GRADUACAO':int})
microdados2 = microdados2.astype({'TP_PRES':int})
microdados2 = microdados2.astype({'QE_I02':str})
microdados2 = microdados2.astype({'QE_I04':str})
microdados2 = microdados2.astype({'QE_I05':str})
microdados2 = microdados2.astype({'QE_I08':str})
microdados2 = microdados2.astype({'QE_I15':str})
microdados2 = microdados2.astype({'QE_I17':str})
microdados2 = microdados2.astype({'QE_I01':str})
microdados2 = microdados2.astype({'QE_I06':str})
microdados2 = microdados2.astype({'QE_I07':str})
microdados2 = microdados2.astype({'QE_I18':str})
microdados2 = microdados2.astype({'QE_I38':str})
microdados2 = microdados2.astype({'QE_I61':str})
microdados2 = microdados2.astype({'QE_I62':str})
microdados2 = microdados2.astype({'QE_I27':str})

In [16]:
microdados2['CO_ORGACAD'].replace({10028:'Universidade',10020:'Centro Universit√°rio',10022:'Faculdade',10026:'I.F.E', 10019:'C.F.E.T'},inplace=True)

In [17]:
microdados2['QE_I10'].replace({'A':'N√£o','B':'Sim','C':'Sim','D':'Sim','E':'Sim'},inplace=True)

In [18]:
microdados2['QE_I22'].replace({'A':'0','B':'1/2','C':'3-5','D':'6-8','E':'8+'},inplace=True)

In [19]:
microdados2['QE_I23'].replace({'A':'0','B':'<3','C':'3-8','D':'8+','E':'8+'},inplace=True)

# Adi√ß√£o de novos valores: 

- QE_I01:
    - Estado c√≠vil
- QE_I06:
    - Onde o aluno mora atualmente
- QE_I07:
    - Quantas pessoas moram com o aluno
- QE_I18:
    - Tipo de ensino m√©dio que o aluno concluiu
- QE_I38: 
    - Plano de ensino dos professores
- QE_I61: 
    - Salas de aula adequadas para a quantidade de alunos
- QE_I62: 
    - Equipamento para as aulas praticas suficentes
- QE_I27: 
    - Avalia√ß√£o da contribui√ß√£o do curso

In [20]:
microdados2['QE_I01'].replace({'A':'Solteiro','B':'Casado','C':'Divorciado','D':'Vi√∫vo','E':'Outro'},inplace=True)
microdados2['QE_I06'].replace({'A':'Sozinho','B':'Parentes','C':'C√¥njuge/filhos','D':'Outras pessoas','E':'Universidade', 'F': 'Habita√ß√£o individual/coletiva'},inplace=True)
microdados2['QE_I07'].replace({'A':'Nenhuma','B':'Uma','C':'Duas','D':'Tr√™s','E':'Quatro', 'F': 'Cinco', 'G': 'Seis', 'H': 'Mais de seis'},inplace=True)
microdados2['QE_I18'].replace({'A':'EM tradicional','B':'Profissionalizante t√©cnico','C':'Profissionalizante magist√©rio','D':'EJA/Supletivo', 'E': 'Outro'} ,inplace=True)
microdados2['QE_I38'].replace({'6.0':'Todos aspectos', '5.0': 'Maior parte', '4.0':'Maior parte','3.0': 'Somente alguns', '2.0':'Somente alguns', '1.0':'Nenhum', '7.0':'Nenhum', '8.0':'N√£o se aplica'} ,inplace=True)
microdados2['QE_I61'].replace({'6.0':'Todas', '5.0': 'Maior parte', '4.0':'Maior parte','3.0': 'Algumas', '2.0':'Algumas', '1.0':'Nenhuma', '7.0':'Nenhuma', '8.0':'N√£o se aplica'} ,inplace=True)
microdados2['QE_I62'].replace({'6.0':'Todas', '5.0': 'Maior parte', '4.0':'Maior parte','3.0': 'Algumas', '2.0':'Algumas', '1.0':'Nenhuma', '7.0':'Nenhuma', '8.0':'N√£o se aplica'} ,inplace=True)
microdados2['QE_I27'].replace({'6.0':'Muito boa', '5.0':'Boa', '4.0':'Regular', '3.0': 'Regular', '2.0': 'Fraca', '1.0': 'Muito fraca', '7.0':'Muito fraca', '8.0':'N√£o se aplica'} ,inplace=True)

In [21]:
coluna_map = {
    'CO_CATEGAD':'categoria_adm',
    'CO_GRUPO':'grupo',
    'CO_CURSO':'curso',
    'CO_UF_CURSO':'uf',
    'CO_REGIAO_CURSO':'regiao',
    'NU_IDADE':'idade',
    'TP_SEXO':'sexo',
    'ANO_FIM_EM':'formatura_medio',
    'ANO_IN_GRAD':'inicio_graduacao',
    'CO_TURNO_GRADUACAO':'periodo',
    'TP_PRES':'presenca',
    'NT_GER':'nota_geral',
    'NT_FG':'nota_formacao_geral',
    'NT_OBJ_FG':'nota_obj_formacao_geral',
    'NT_DIS_FG':'nota_disc_formacao_geral',
    'NT_CE':'nota_componente_especifico',
    'NT_OBJ_CE':'nota_obj_componente_especifico',
    'NT_DIS_CE':'nota_disc_componente_especifico',
    'QE_I02':'cor_raca',
    'QE_I04':'escolaridade_pai',
    'QE_I05':'escolaridade_mae',
    'QE_I08':'renda_familiar',
    'QE_I15':'cotas',
    'QE_I17':'tipo_ensino_medio',
    'CO_IES':'codigo_IES',
    'CO_ORGACAD':'organizacao_academica',
    'QE_I10':'trabalha',
    'QE_I22':'livros_ano',
    'QE_I23':'horas_estudo',
    'QE_I01': 'estado_civil',
    'QE_I06': 'moradia',
    'QE_I07': 'pessoas_moradia',
    'QE_I18': 'ensino_medio',
    'QE_I38': 'plano_ensino',
    'QE_I61': 'condicoes_salas_estudantes',
    'QE_I62': 'condicoes_praticas_materiais',
    'QE_I27': 'avaliacao_curso'
}

In [22]:
microdados2.rename(columns=coluna_map,inplace=True)

In [23]:
microdados2['grupo'].replace({72: 'ADS', 79:'RC',4003: 'EC', 4004:'BCC',4005:'LCC',4006: 'SI',6409: 'GTI'},inplace=True)
microdados2 = microdados2.astype({'grupo':str})

In [24]:
microdados2['cor_raca'].replace({'A':'Branca','B':'Preta','C':'Amarela','D':'Parda','E':'Ind√≠gena','F':'ND'},inplace=True)

In [25]:
microdados2['recebeu_cota'] = microdados2['cotas'].replace({'A':'N√£o','B':'Sim','C':'Sim','D':'Sim','E':'Sim','F':'Sim'})

In [26]:
microdados2['cotas'].replace({'A':'N√£o','B':'√âtnico Racial','C':'Renda','D':'EM p√∫blico','E':'2+','F':'Outro'},inplace=True)

In [27]:
# microdados2['recebeu_bolsa'] = microdados2['bolsa_academica']
# microdados2['recebeu_bolsa'].replace({'C':'B','D':'B','E':'B','F':'B'},inplace=True)
# microdados2['recebeu_bolsa'].replace({'A':'N√£o','B':'Sim'},inplace=True)

In [28]:
# microdados2['bolsa_academica'].replace({'A':'Nenhum','B':'IC','C':'Extens√£o','D':'Monitoria','E':'PET','F':'Outro'},inplace=True)

In [29]:
microdados2['renda_familiar'].replace({'A':'<3','B':'3-10','C':'10-30','D':'30+'},inplace=True)

In [30]:
microdados2['escolaridade_pai'].replace({'A':'Nenhuma','B':'1¬∞-5¬∞ EF','C':'6¬∞-9¬∞ EF','D':'Ensino M√©dio','E':'Gradua√ß√£o','F':'P√≥s-gradua√ß√£o'},inplace=True)
microdados2['escolaridade_mae'].replace({'A':'Nenhuma','B':'1¬∞-5¬∞ EF','C':'6¬∞-9¬∞ EF','D':'Ensino M√©dio','E':'Gradua√ß√£o','F':'P√≥s-gradua√ß√£o'},inplace=True)

In [31]:
# microdados_sul['NU_IDADE'].replace()
# bins = [17, 25, 30, 40, 50, 100]
# labels = ['17-24', '25-29', '30-39', '40-49', '50+']
# microdados2['range_idade'] = pd.cut(microdados2['idade'], bins, labels = labels,include_lowest = True)

# precisa ser algo padronizado, por faixas, n√£o hard code
# ex: lambda <20 = 'A'; 20-30 = 'B' ...

In [32]:
# microdados2['ead_presencial'].replace({0:'EAD',1:'Presencial'},inplace=True)
# microdados2 = microdados2.astype({'ead_presencial':str})

In [33]:
microdados2['turno'] = microdados2['periodo'].replace({1:'M',2:'V',3:'I',4:'N'})
microdados2 = microdados2.astype({'turno':str})

In [34]:
microdados2['regiao'].replace({1:'N',2:'NE',3:'SE',4:'S',5:'CO'},inplace=True)
microdados2 = microdados2.astype({'regiao':str})

In [35]:
microdados2.drop(columns=['presenca','periodo'],inplace=True)

In [36]:
microdados2.rename(columns={'grupo':'nome_curso'},inplace=True)

In [37]:
microdados2['tipo_ensino_medio'].replace({'A':'P√∫blica','B':'Particular','C':'Exterior'},inplace=True)

In [38]:
microdados2.drop(columns=['CO_RS_I9'],inplace=True)

In [39]:
microdados2

,codigo_IES,categoria_adm,organizacao_academica,nome_curso,curso,uf,regiao,idade,sexo,formatura_medio,...,tipo_ensino_medio,ensino_medio,livros_ano,horas_estudo,avaliacao_curso,plano_ensino,condicoes_salas_estudantes,condicoes_praticas_materiais,recebeu_cota,turno
383,1,IES p√∫blica,Universidade,BCC,36,MT,CO,23,M,2014,...,P√∫blica,EM tradicional,1/2,8+,Boa,Nenhum,Maior parte,Maior parte,Sim,I
384,1,IES p√∫blica,Universidade,BCC,36,MT,CO,22,M,2012,...,P√∫blica,Profissionalizante t√©cnico,3-5,3-8,Muito boa,Todos aspectos,Maior parte,Maior parte,N√£o,I
386,1,IES p√∫blica,Universidade,BCC,36,MT,CO,23,M,2012,...,P√∫blica,Profissionalizante t√©cnico,1/2,3-8,Regular,Somente alguns,Maior parte,Maior parte,Sim,I
387,1,IES p√∫blica,Universidade,BCC,36,MT,CO,23,M,2011,...,P√∫blica,EM tradicional,3-5,3-8,Regular,Maior parte,Maior parte,Maior parte,N√£o,I
388,1,IES p√∫blica,Universidade,BCC,36,MT,CO,22,F,2012,...,Particular,EM tradicional,3-5,8+,Boa,Maior parte,Maior parte,Maior parte,N√£o,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534520,3295,IES privada,Faculdade,ADS,5001211,SC,S,20,M,2014,...,P√∫blica,EM tradicional,0,<3,Muito boa,Maior parte,Todas,Todas,N√£o,M
534521,3295,IES privada,Faculdade,ADS,5001211,SC,S,25,M,2010,...,Particular,EM tradicional,8+,<3,Regular,Somente alguns,Maior parte,Maior parte,Sim,M
534522,3295,IES privada,Faculdade,ADS,5001211,SC,S,35,M,2007,...,P√∫blica,EM tradicional,3-5,8+,Regular,Somente alguns,Todas,Todas,N√£o,M
534783,494,IES privada,Universidade,LCC,5001284,SC,S,25,M,2009,...,P√∫blica,EM tradicional,3-5,3-8,Muito boa,Todos aspectos,Nenhuma,Todas,N√£o,I
534784,494,IES privada,Universidade,LCC,5001284,SC,S,34,M,2000,...,Particular,EM tradicional,8+,3-8,Muito boa,Todos aspectos,Todas,Todas,N√£o,I

In [40]:
microdados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40114 entries, 383 to 534784
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   codigo_IES                       40114 non-null  int64
 1   categoria_adm                    40114 non-null  object
 2   organizacao_academica            40114 non-null  object
 3   nome_curso                       40114 non-null  object
 4   curso                            40114 non-null  int64
 5   uf                               40114 non-null  object
 6   regiao                           40114 non-null  object
 7   idade                            40114 non-null  int64
 8   sexo                             40114 non-null  object
 9   formatura_medio                  40114 non-null  int64
 10  inicio_graduacao                 40114 non-null  int64
 11  nota_geral                       40114 non-null  float64
 12  nota_formacao_geral              40114 non-null  float64
 13  nota_obj_formacao_geral          40114 non-null  float64
 14  nota_disc_formacao_geral         40114 non-null  float64
 15  nota_componente_especifico       40114 non-null  float64
 16  nota_obj_componente_especifico   40114 non-null  float64
 17  nota_disc_componente_especifico  40114 non-null  float64
 18  estado_civil                     40114 non-null  object
 19  cor_raca                         40114 non-null  object
 20  escolaridade_pai                 40114 non-null  object
 21  escolaridade_mae                 40114 non-null  object
 22  moradia                          40114 non-null  object
 23  pessoas_moradia                  40114 non-null  object
 24  renda_familiar                   40114 non-null  object
 25  trabalha                         40114 non-null  object
 26  cotas                            40114 non-null  object
 27  tipo_ensino_medio                40114 non-null  object
 28  ensino_medio                     40114 non-null  object
 29  livros_ano                       40114 non-null  object
 30  horas_estudo                     40114 non-null  object
 31  avaliacao_curso                  40114 non-null  object
 32  plano_ensino                     40114 non-null  object
 33  condicoes_salas_estudantes       40114 non-null  object
 34  condicoes_praticas_materiais     40114 non-null  object
 35  recebeu_cota                     40114 non-null  object
 36  turno                            40114 non-null  object
dtypes: float64(7), int64(5), object(25)
memory usage: 11.6+ MB

In [41]:
microdados2.isna().any()

codigo_IES                         False
categoria_adm                      False
organizacao_academica              False
nome_curso                         False
curso                              False
uf                                 False
regiao                             False
idade                              False
sexo                               False
formatura_medio                    False
inicio_graduacao                   False
nota_geral                         False
nota_formacao_geral                False
nota_obj_formacao_geral            False
nota_disc_formacao_geral           False
nota_componente_especifico         False
nota_obj_componente_especifico     False
nota_disc_componente_especifico    False
estado_civil                       False
cor_raca                           False
escolaridade_pai                   False
escolaridade_mae                   False
moradia                            False
pessoas_moradia                    False
renda_familiar                     False
trabalha                           False
cotas                              False
tipo_ensino_medio                  False
ensino_medio                       False
livros_ano                         False
horas_estudo                       False
avaliacao_curso                    False
plano_ensino                       False
condicoes_salas_estudantes         False
condicoes_praticas_materiais       False
recebeu_cota                       False
turno                              False
dtype: bool

In [42]:
microdados2.isnull().values.any()

False

In [43]:
colunas = list(microdados2.columns)

for i in colunas:
    microdados2 = microdados2.loc[microdados2[i] != 'nan']

In [44]:
microdados2.to_csv('./{}.csv'.format('computacao_enade_2017'),index=False)