In [1]:
#alem do grupo tem subarea

In [2]:
import pandas as pd
import math

In [3]:
colunas = ['cd_catad','co_grupo','co_subarea','co_regiao_habil','co_uf_habil','tp_sexo','tp_pres','nt_ger','nt_obj_fg','nt_dis_fg','nt_fg','nt_obj_ce','nt_dis_ce','nt_ce','QE_I5','QE_I13','QE_I14','QE_I7','QE_I12','QE_I17','nu_idade','co_curso','ano_fim_2g','ano_in_gra','in_matut','in_vesper','in_noturno','in_grad','co_ies','cd_orgac','QE_I10','qp_i9','QE_I21','QE_I28', 'QE_I2', 'QE_I6', 'QE_I8', 'QE_I49', 'QE_I51', 'QE_I74', 'QE_I98']

#qe02 virou 5
#qe04 virou 13
#qe08 virou 7
#cotas 15 -> 12
#qe17 continuou
#nao tem questao sobre bolsa
#nao tem sobre modalidade

In [4]:
# microdados = pd.read_csv('microdados_enade_2008/2.DADOS/microdados_enade_2008.csv',sep=';',usecols=colunas,decimal=',')
microdados = pd.read_csv('microdados_enade_2008.csv',sep=';',usecols=colunas,decimal=',')

/home/luiscapelari/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (52,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
microdados

,co_ies,cd_catad,cd_orgac,co_grupo,co_subarea,co_regiao_habil,co_uf_habil,co_curso,nu_idade,tp_sexo,...,QE_I12,QE_I13,QE_I14,QE_I17,QE_I21,QE_I28,QE_I49,QE_I51,QE_I74,QE_I98
0,1,1,1,7,NaN,5,51,26,21,2,...,.,.,.,.,.,.,.,.,.,.
1,1,1,1,7,NaN,5,51,26,23,1,...,.,.,.,.,.,.,.,.,.,.
2,1,1,1,7,NaN,5,51,26,33,1,...,D,C,D,A,B,D,E,E,E,C
3,1,1,1,7,NaN,5,51,26,36,1,...,.,.,.,.,.,.,.,.,.,.
4,1,1,1,7,NaN,5,51,26,27,1,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461771,4792,5,9,80,NaN,2,23,90999,23,2,...,B,D,D,A,A,B,B,B,A,A
461772,4792,5,9,80,NaN,2,23,90999,21,2,...,D,B,D,A,E,C,B,B,B,A
461773,4792,5,9,80,NaN,2,23,90999,27,2,...,D,B,E,C,C,C,B,A,B,B
461774,4792,5,9,80,NaN,2,23,90999,20,2,...,C,D,D,E,E,C,B,B,B,B
461775,4792,5,9,80,NaN,2,23,90999,20,2,...,C,B,C,B,A,B,A,A,B,A

In [6]:
microdados.dtypes

co_ies               int64
cd_catad             int64
cd_orgac             int64
co_grupo             int64
co_subarea         float64
co_regiao_habil      int64
co_uf_habil          int64
co_curso             int64
nu_idade             int64
tp_sexo              int64
ano_fim_2g           int64
ano_in_gra           int64
in_matut             int64
in_vesper            int64
in_noturno           int64
in_grad              int64
tp_pres              int64
nt_obj_fg           object
nt_dis_fg           object
nt_fg               object
nt_obj_ce           object
nt_dis_ce           object
nt_ce               object
nt_ger              object
qp_i9               object
QE_I2               object
QE_I5               object
QE_I6               object
QE_I7               object
QE_I8               object
QE_I10              object
QE_I12              object
QE_I13              object
QE_I14              object
QE_I17              object
QE_I21              object
QE_I28              object
QE_I49              object
QE_I51              object
QE_I74              object
QE_I98              object
dtype: object

In [7]:
microdados.isna().any()

co_ies             False
cd_catad           False
cd_orgac           False
co_grupo           False
co_subarea          True
co_regiao_habil    False
co_uf_habil        False
co_curso           False
nu_idade           False
tp_sexo            False
ano_fim_2g         False
ano_in_gra         False
in_matut           False
in_vesper          False
in_noturno         False
in_grad            False
tp_pres            False
nt_obj_fg           True
nt_dis_fg           True
nt_fg               True
nt_obj_ce           True
nt_dis_ce           True
nt_ce               True
nt_ger              True
qp_i9               True
QE_I2              False
QE_I5              False
QE_I6              False
QE_I7              False
QE_I8              False
QE_I10             False
QE_I12             False
QE_I13             False
QE_I14             False
QE_I17             False
QE_I21             False
QE_I28             False
QE_I49             False
QE_I51             False
QE_I74             False
QE_I98             False
dtype: bool

In [8]:
microdados2 = microdados.query('co_grupo == 40 | co_grupo == 72 | co_grupo == 79') #engenharia da computacao faz parte do 40

In [9]:
microdados2['co_subarea'].fillna(microdados2['co_grupo'],inplace=True)

/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [10]:
microdados2 = microdados2.astype({'co_subarea':int})

In [11]:
microdados2 = microdados2.query('co_subarea == 4001 | co_subarea == 4002 | co_subarea == 4003 | co_subarea == 5801 | co_subarea == 40 | co_subarea == 72 | co_subarea == 79')

In [12]:
microdados2.isna().any()

co_ies             False
cd_catad           False
cd_orgac           False
co_grupo           False
co_subarea         False
co_regiao_habil    False
co_uf_habil        False
co_curso           False
nu_idade           False
tp_sexo            False
ano_fim_2g         False
ano_in_gra         False
in_matut           False
in_vesper          False
in_noturno         False
in_grad            False
tp_pres            False
nt_obj_fg           True
nt_dis_fg           True
nt_fg               True
nt_obj_ce           True
nt_dis_ce           True
nt_ce               True
nt_ger              True
qp_i9               True
QE_I2              False
QE_I5              False
QE_I6              False
QE_I7              False
QE_I8              False
QE_I10             False
QE_I12             False
QE_I13             False
QE_I14             False
QE_I17             False
QE_I21             False
QE_I28             False
QE_I49             False
QE_I51             False
QE_I74             False
QE_I98             False
dtype: bool

In [13]:
microdados2 = microdados2.loc[microdados2.nt_ger.notnull()]

In [14]:
microdados2['tipo_ensino_medio'] = microdados2['QE_I17']
microdados2['tipo_ensino_medio'].replace({'C':'A'},inplace=True) #todo tempo ou maior parte pub
microdados2['tipo_ensino_medio'].replace({'D':'B'},inplace=True) #todo tempo ou maior parte privada
microdados2['tipo_ensino_medio'].replace({'E':'C'},inplace=True) #meio a meio

# Adição de novos valores: 

- QE_I2:
    - Estado cívil
- QE_I6:
    - Onde o aluno mora atualmente
- QE_I8:
    - Quantas pessoas moram com o aluno
- QE_I17:
    - Tipo de ensino médio que o aluno concluiu
- QE_I49: 
    - Salas de aula adequadas para a quantidade de alunos
- QE_I51:
    - Equipamento para as aulas praticas suficentes
- QE_I74: 
    - Plano de ensino dos professores
- QE_I98: 
    - Avaliação da contribuição do curso

In [15]:
microdados2['QE_I2'].replace({'A':'Solteiro','B':'Casado','C':'Divorciado','D':'Viúvo','E':'Outro'},inplace=True)
microdados2['QE_I6'].replace({'A':'Parentes','B':'Cônjuge/filhos','C':'Outras pessoas','D':'Universidade','E':'Habitação individual/coletiva'},inplace=True)
microdados2['QE_I8'].replace({'A':'Nenhuma','B':'Uma','C':'Três','D':'Cinco', 'E': 'Mais de seis'},inplace=True)
microdados2['QE_I17'].replace({'A':'EM tradicional','B':'Profissionalizante técnico','C':'Profissionalizante magistério','D':'EJA/Supletivo', 'E': 'Outro'} ,inplace=True)
microdados2['QE_I49'].replace({'A':'Todas','B':'Maior parte','C':'Algumas', 'D': 'Algumas', 'E':'Nenhuma'} ,inplace=True)
microdados2['QE_I51'].replace({'A':'Todas','B':'Maior parte','C':'Algumas', 'D': 'Algumas', 'E':'Nenhuma'} ,inplace=True)
microdados2['QE_I74'].replace({'A':'Todos aspectos','B':'Maior parte','C':'Somente alguns', 'D': 'Somente alguns', 'E': 'Nenhum'} ,inplace=True)
microdados2['QE_I98'].replace({'A':'Muito boa','B':'Boa','C':'Regular', 'D': 'Fraca', 'E': 'Muito fraca'} ,inplace=True)

In [16]:
microdados2.isna().any()

co_ies               False
cd_catad             False
cd_orgac             False
co_grupo             False
co_subarea           False
co_regiao_habil      False
co_uf_habil          False
co_curso             False
nu_idade             False
tp_sexo              False
ano_fim_2g           False
ano_in_gra           False
in_matut             False
in_vesper            False
in_noturno           False
in_grad              False
tp_pres              False
nt_obj_fg            False
nt_dis_fg            False
nt_fg                False
nt_obj_ce            False
nt_dis_ce            False
nt_ce                False
nt_ger               False
qp_i9                 True
QE_I2                False
QE_I5                False
QE_I6                False
QE_I7                False
QE_I8                False
QE_I10               False
QE_I12               False
QE_I13               False
QE_I14               False
QE_I17               False
QE_I21               False
QE_I28               False
QE_I49               False
QE_I51               False
QE_I74               False
QE_I98               False
tipo_ensino_medio    False
dtype: bool

In [17]:
microdados2 = microdados2.astype({'nt_ger':float}) 
microdados2 = microdados2.astype({'QE_I5':str}) 
microdados2 = microdados2.astype({'QE_I7':str}) 
microdados2 = microdados2.astype({'QE_I12':str}) 
microdados2 = microdados2.astype({'QE_I13':str}) 
microdados2 = microdados2.astype({'QE_I14':str}) 
microdados2 = microdados2.astype({'QE_I2':str})
microdados2 = microdados2.astype({'QE_I6':str})
microdados2 = microdados2.astype({'QE_I8':str})
microdados2 = microdados2.astype({'QE_I17':str})
microdados2 = microdados2.astype({'QE_I49':str})
microdados2 = microdados2.astype({'QE_I51':str})
microdados2 = microdados2.astype({'QE_I74':str})
microdados2 = microdados2.astype({'QE_I98':str})
microdados2 = microdados2.astype({'co_subarea':int})

In [18]:
microdados2 = microdados2.query('tp_pres == 555') #selecionando apenas alunos presentes no ENADE com nota valida

In [19]:
microdados2 = microdados2.query('qp_i9 !="E" & qp_i9 !="." & qp_i9 !="*"')

In [20]:
microdados2['qp_i9'].value_counts()

B    19022
C    15879
D     6066
A     3024
Name: qp_i9, dtype: int64

In [21]:
microdados2 = microdados2.query('in_grad == 0')

In [22]:
microdados2 = microdados2.query('nu_idade > 16')

In [23]:
estado_dict = {
11 : 'RO',12 : 'AC', 
13 : 'AM',14 : 'RR',
15 : 'PA',16 : 'AP',
17 : 'TO',21 : 'MA',
22 : 'PI',23 : 'CE',
24 : 'RN',25 : 'PB',
26 : 'PE',27 : 'AL',
28 : 'SE',29 : 'BA',
31 : 'MG',32 : 'ES',
33 : 'RJ',35 : 'SP',
41 : 'PR',42 : 'SC',
43 : 'RS',50 : 'MS',
51 : 'MT',52 : 'GO', 
53 : 'DF'
}

microdados2['co_uf_habil'].replace(estado_dict,inplace=True)
microdados2 = microdados2.astype({'co_uf_habil':str})

In [24]:
microdados2['cd_catad'].replace({1:'IES pública',2:'IES pública',3:'IES pública'},inplace=True) #publica
microdados2['cd_catad'].replace({5:'IES privada'},inplace=True) #privada
microdados2 = microdados2.astype({'cd_catad':str})

In [25]:
microdados2['tp_sexo'].replace({2:'F',1:'M'},inplace=True)

In [26]:
microdados2['cd_orgac'].replace({1:'Universidade',2:'Universidade'},inplace=True) 
microdados2['cd_orgac'].replace({3:'Centro Universitário',4:'Centro Universitário'},inplace=True)
microdados2['cd_orgac'].replace({5:'Faculdade',6:'Faculdade',9:'Faculdade'},inplace=True)
microdados2['cd_orgac'].replace({7:'Instituto Superior', 8:'C.F.E.T'},inplace=True)

In [27]:
microdados2['QE_I10'].replace({'A':'Não','B':'Sim','C':'Sim','D':'Sim','E':'Sim'},inplace=True)

In [28]:
microdados2.loc[(microdados2['in_matut'] + microdados2['in_vesper'] + microdados2['in_noturno']) > 1, 'periodo'] = 'I'
microdados2.loc[(microdados2['in_matut'] + microdados2['in_vesper'] + microdados2['in_noturno']) == 1, 'periodo'] = None

In [29]:
microdados2['in_matut'].replace({0:None,1:'M'},inplace=True)
microdados2['in_vesper'].replace({0:None,1:'V'},inplace=True)
microdados2['in_noturno'].replace({0:None,1:'N'},inplace=True)

In [30]:
microdados2['periodo'].fillna(microdados2['in_vesper'], inplace=True)
microdados2['periodo'].fillna(microdados2['in_matut'], inplace=True)
microdados2['periodo'].fillna(microdados2['in_noturno'], inplace=True)

In [31]:
microdados2

,co_ies,cd_catad,cd_orgac,co_grupo,co_subarea,co_regiao_habil,co_uf_habil,co_curso,nu_idade,tp_sexo,...,QE_I14,QE_I17,QE_I21,QE_I28,QE_I49,QE_I51,QE_I74,QE_I98,tipo_ensino_medio,periodo
284310,1,IES pública,Universidade,40,4001,5,MT,36,19,F,...,D,EM tradicional,B,E,Nenhuma,Nenhuma,Somente alguns,Boa,A,I
284313,1,IES pública,Universidade,40,4001,5,MT,36,19,M,...,E,Profissionalizante magistério,C,C,Nenhuma,Nenhuma,Somente alguns,Boa,A,I
284315,1,IES pública,Universidade,40,4001,5,MT,36,19,M,...,E,Profissionalizante técnico,C,E,Maior parte,Nenhuma,Maior parte,Muito boa,B,I
284320,1,IES pública,Universidade,40,4001,5,MT,36,21,M,...,E,Profissionalizante técnico,A,B,Nenhuma,Nenhuma,Maior parte,Regular,B,I
284323,1,IES pública,Universidade,40,4001,5,MT,36,21,M,...,E,EM tradicional,A,C,Algumas,Nenhuma,Nenhum,Fraca,A,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461042,5550,IES privada,Faculdade,79,79,5,GO,74402,27,M,...,D,EM tradicional,A,A,Maior parte,Maior parte,Todos aspectos,Boa,A,N
461043,5550,IES privada,Faculdade,79,79,5,GO,74402,20,M,...,.,.,.,.,.,.,.,.,.,N
461044,5550,IES privada,Faculdade,79,79,5,GO,74402,20,M,...,D,EM tradicional,C,B,Maior parte,Todas,Todos aspectos,Muito boa,A,N
461045,5550,IES privada,Faculdade,79,79,5,GO,74402,36,M,...,C,EM tradicional,A,A,Maior parte,Maior parte,Maior parte,Regular,A,N
461046,5550,IES privada,Faculdade,79,79,5,GO,74402,21,M,...,E,Profissionalizante técnico,A,D,Nenhuma,Nenhuma,Todos aspectos,Boa,B,N

In [32]:
microdados2.drop(columns=['in_matut','in_vesper','in_noturno','tp_pres'],inplace=True)

In [33]:
microdados2['QE_I21'].replace({'A':'0','B':'1/2','C':'3-5','D':'6-8','E':'8+'},inplace=True)

In [34]:
microdados2['QE_I28'].replace({'A':'0','B':'<3','C':'3-8','D':'3-8','E':'8+'},inplace=True)

In [35]:
coluna_map = {
    'cd_catad':'categoria_adm',
    'co_grupo':'grupo',
    'co_subarea':'subarea',
    'co_regiao_habil':'regiao',
    'co_uf_habil':'uf',
    'co_curso':'curso',
    'nu_idade':'idade',
    'tp_sexo':'sexo',
    'ano_fim_2g':'formatura_medio',
    'ano_in_gra':'inicio_graduacao',
    'nt_ger':'nota_geral',
    'nt_obj_fg':'nota_obj_formacao_geral',
    'nt_dis_fg':'nota_disc_formacao_geral',
    'nt_fg':'nota_formacao_geral',
    'nt_obj_ce':'nota_obj_componente_especifico',
    'nt_dis_ce':'nota_disc_componente_especifico',
    'nt_ce':'nota_componente_especifico',
    'QE_I5':'cor_raca',
    'QE_I7':'renda_familiar',
    'QE_I12':'cotas',
    'QE_I13':'escolaridade_pai',
    'QE_I14':'escolaridade_mae',
    'periodo':'turno',
    'co_ies':'codigo_IES',
    'cd_orgac':'organizacao_academica',
    'QE_I10':'trabalha',
    'QE_I21':'livros_ano',
    'QE_I28':'horas_estudo',
    'QE_I2': 'estado_civil',
    'QE_I6': 'moradia',
    'QE_I8': 'pessoas_moradia',
    'QE_I17': 'ensino_medio',
    'QE_I49': 'condicoes_salas_estudantes',
    'QE_I51': 'condicoes_praticas_materiais',
    'QE_I74': 'plano_ensino',
    'QE_I98': 'avaliacao_curso'
}

In [36]:
microdados2.rename(columns=coluna_map,inplace=True)

In [37]:
microdados2['subarea'].replace({72: 'ADS', 79:'RC',4003: 'EC', 4001:'BCC',4002: 'SI',5801: 'Computação'},inplace=True)
microdados2 = microdados2.astype({'subarea':str})

In [38]:
microdados2['cor_raca'].replace({'A':'Branca','B':'Preta','C':'Parda','D':'Amarela','E':'Indígena'},inplace=True)

In [39]:
microdados2['recebeu_cota'] = microdados2['cotas'].replace({'A':'Sim','B':'Sim','C':'Sim','D':'Não'})

In [40]:
microdados2['cotas'].replace({'A':'Étnico Racial','B':'Renda ou EM público','C':'Outro','D':'Não'},inplace=True)

In [41]:
microdados2['renda_familiar'].replace({'A':'<3','B':'3-10','C':'10-30','D':'10-30','E':'30+'},inplace=True)

In [42]:
microdados2['escolaridade_pai'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação+'},inplace=True)
microdados2['escolaridade_mae'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação+'},inplace=True)

In [43]:
a = microdados2['idade'].unique()
a.sort()
a

array([17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 67, 77])

In [44]:
microdados2['idade'].value_counts()

21    2398
22    2263
20    2040
23    1889
24    1604
25    1378
26    1180
27     900
28     759
29     584
19     526
30     478
31     387
32     302
33     269
34     244
35     168
36     149
37     132
38     120
40      94
39      93
18      84
41      68
42      60
43      53
44      46
45      35
46      32
48      23
47      21
51      19
50      13
49      12
52      10
53       7
54       5
17       5
55       4
56       4
59       3
58       2
67       1
57       1
77       1
Name: idade, dtype: int64

In [45]:
bins = [17, 25, 30, 40, 50, 100]
labels = ['17-24', '25-29', '30-39', '40-49', '50+']
microdados2['range_idade'] = pd.cut(microdados2['idade'], bins, labels = labels,include_lowest = True)

In [46]:
microdados2['regiao'].replace({1:'N',2:'NE',3:'SE',4:'S',5:'CO'},inplace=True)
microdados2 = microdados2.astype({'regiao':str})

In [47]:
microdados2.rename(columns={'subarea':'nome_curso'},inplace=True)

In [48]:
microdados2 = microdados2.sort_values('tipo_ensino_medio').reset_index(drop=True)
qnt = microdados2.loc[microdados2['tipo_ensino_medio'] == 'C'].tipo_ensino_medio.count()
c = microdados2[microdados2.tipo_ensino_medio=='C'].first_valid_index()
microdados2.loc[c:c+math.ceil(qnt/2)-1,'tipo_ensino_medio'] = 'A'  #metade vira publica
microdados2.loc[c+math.ceil(qnt/2):c+qnt-1,'tipo_ensino_medio'] ='B' #metade vira publica

In [49]:
microdados2['tipo_ensino_medio'].replace({'A':'Pública','B':'Particular','C':'Pública/Particular'},inplace=True)

In [50]:
microdados2.drop(columns=['grupo'],inplace=True)

In [51]:
microdados2.drop(columns=['qp_i9'],inplace=True)

In [52]:
microdados2

,codigo_IES,categoria_adm,organizacao_academica,nome_curso,regiao,uf,curso,idade,sexo,formatura_medio,...,livros_ano,horas_estudo,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,tipo_ensino_medio,turno,recebeu_cota,range_idade
0,385,IES privada,Universidade,SI,NE,BA,56172,24,M,2001,...,8+,<3,Todas,Todas,Nenhum,Boa,*,N,Não,17-24
1,426,IES privada,Centro Universitário,SI,S,RS,8913,24,M,2000,...,1/2,3-8,Maior parte,Maior parte,Maior parte,Boa,*,N,Não,17-24
2,532,IES privada,Universidade,SI,S,RS,10978,27,F,2000,...,3-5,3-8,Maior parte,Maior parte,Maior parte,Regular,*,N,Não,25-29
3,197,IES privada,Faculdade,SI,S,PR,20469,24,M,2000,...,1/2,3-8,Nenhuma,Nenhuma,Nenhum,Muito fraca,*,N,Sim,17-24
4,1743,IES privada,Faculdade,ADS,SE,SP,47985,20,M,2004,...,6-8,8+,Algumas,Algumas,Somente alguns,Muito boa,*,N,Não,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18461,308,IES privada,Universidade,SI,SE,MG,62074,20,M,2004,...,3-5,3-8,Algumas,Algumas,Maior parte,Boa,Particular,N,Não,17-24
18462,1185,IES privada,Centro Universitário,SI,NE,BA,21475,23,M,2002,...,0,<3,Maior parte,Maior parte,Maior parte,Boa,Particular,N,Não,17-24
18463,2572,IES privada,Faculdade,ADS,NE,BA,85610,40,M,1986,...,6-8,3-8,Maior parte,Algumas,Maior parte,Boa,Particular,N,Não,30-39
18464,1158,IES privada,Faculdade,BCC,NE,BA,18267,31,M,1995,...,6-8,3-8,Todas,Todas,Todos aspectos,Muito boa,Particular,N,Não,30-39
18465,1872,IES privada,Faculdade,RC,S,PR,68845,37,M,1992,...,1/2,<3,Maior parte,Todas,Todos aspectos,Boa,Particular,N,Não,30-39

In [53]:
microdados2.drop(columns=['in_grad'],inplace=True)

In [54]:
microdados2.isna().any()

codigo_IES                         False
categoria_adm                      False
organizacao_academica              False
nome_curso                         False
regiao                             False
uf                                 False
curso                              False
idade                              False
sexo                               False
formatura_medio                    False
inicio_graduacao                   False
nota_obj_formacao_geral            False
nota_disc_formacao_geral           False
nota_formacao_geral                False
nota_obj_componente_especifico     False
nota_disc_componente_especifico    False
nota_componente_especifico         False
nota_geral                         False
estado_civil                       False
cor_raca                           False
moradia                            False
renda_familiar                     False
pessoas_moradia                    False
trabalha                           False
cotas                              False
escolaridade_pai                   False
escolaridade_mae                   False
ensino_medio                       False
livros_ano                         False
horas_estudo                       False
condicoes_salas_estudantes         False
condicoes_praticas_materiais       False
plano_ensino                       False
avaliacao_curso                    False
tipo_ensino_medio                  False
turno                               True
recebeu_cota                       False
range_idade                        False
dtype: bool

In [55]:
microdados2 = microdados2.loc[microdados2.turno.notnull()]

In [56]:
microdados2.isnull().values.any()

False

In [57]:
list(microdados2.columns)

['codigo_IES',
 'categoria_adm',
 'organizacao_academica',
 'nome_curso',
 'regiao',
 'uf',
 'curso',
 'idade',
 'sexo',
 'formatura_medio',
 'inicio_graduacao',
 'nota_obj_formacao_geral',
 'nota_disc_formacao_geral',
 'nota_formacao_geral',
 'nota_obj_componente_especifico',
 'nota_disc_componente_especifico',
 'nota_componente_especifico',
 'nota_geral',
 'estado_civil',
 'cor_raca',
 'moradia',
 'renda_familiar',
 'pessoas_moradia',
 'trabalha',
 'cotas',
 'escolaridade_pai',
 'escolaridade_mae',
 'ensino_medio',
 'livros_ano',
 'horas_estudo',
 'condicoes_salas_estudantes',
 'condicoes_praticas_materiais',
 'plano_ensino',
 'avaliacao_curso',
 'tipo_ensino_medio',
 'turno',
 'recebeu_cota',
 'range_idade']

In [58]:
colunas = list(microdados2.columns)

for i in colunas:
    microdados2 = microdados2.loc[microdados2[i] != 'nan']

In [59]:
microdados2.to_csv('./{}.csv'.format('computacao_enade_2008'),index=False)